<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поисковик</title>
</head>
<body>
	<center>
    <h1>Поисковик на основе Word2Vec</h1>
    <form method="post">
        <input type="text" name="query" placeholder="Введите запрос" value="{{ query }}">
        <button type="submit">Поиск</button>
    </form>
	</center>
    {% if results %}
        <h2>Результаты</h2>
        <p><strong>Название:</strong> {{ results[0] }}</p>
        <p><strong>Ссылка:</strong> <a href="{{ results[1] }}">{{ results[1] }}</a></p>
        <p><strong>Описание:</strong> {{ results[2] }}</p>
    {% endif %}
</body>
</html>